#register-container {
    width: 500px;
    background-color: #749abb;
    padding: 10px;
    margin: 10px auto;
}

.user-inputs {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    padding: 5px;
}

#error-message {
    display: none;
    background-color: red;
    color: white;
    padding: 5px;
}