
@media screen and (min-width: 500px) {

    html {
        background-image: url("./images/background-silouettes.jpg");
    }

}

#users-list>div {
    margin: 5px;
    background-color: aliceblue;
    padding: 5px;
    box-shadow: -2px 3px #8daac1;
    border-radius: 3px;
    border: solid 1px#8daac1;
    color: #135081;
    transition: 0.7s background;
}

#users-list>div:hover {
    background-color: #a8c8e3;
}